.main_open {
  display: flex;
  flex-direction: column;
}
.sub_main_open {
  display: flex;
  margin-top: 3rem;
  flex-direction: row;
  justify-content: space-between;
}
.sub_main_main_open {
  display: flex;
  gap: 2rem;
}
.main_lead_profile {
  display: flex;
  flex-direction: column;
  /* background-color: rgba(217, 217, 217, 1); */
  margin-top:2rem;
  font-family: "Poppins", sans-serif;
}
.sub_main_lead_profile {
  
  display: flex;
  justify-content: space-between;
}

.sub_main_main_lead_profile {
  display: flex;
  gap: 2rem;
}
.sub_main_main_info {
  display: flex;
  flex-direction: column;
  height: max-content;
  margin-top: 2rem;
  width: 25%;
  background-color: #fff;
  border: 1px solid rgba(232, 233, 235, 1);
  border-radius: 1.4rem;
}

.sub_main_main_info_info {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.sub_main_main_info_info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company_info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem;
}
.lead_info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 1.5rem;
}

.sales_manager_info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.other_contact_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.other_contact_info_info {
  display: flex;
  gap: 1rem;
}

.sub_main_tabs {
  width: 70%;
  height: 70vh;
  margin-top: 2rem;
  border: 1px solid rgba(232, 233, 235, 1);
  border-radius: 2.8rem;
}
.main_addnote {
  display: flex;
  flex-direction: column;
}
.sub_main_addnote {
  display: flex;
  margin: 3rem;
  flex-direction: row;
  justify-content: space-between;
}
.sub_main_main_addnote {
  display: flex;
  gap: 2rem;
}
.navbar_product_x{
  display:flex;
  gap:1rem;
}
.login_main{
  display:flex;
    flex-direction: column;
  justify-content:center;
  align-items:center;
}
.btn_style {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgba(48, 79, 253, 1);
  padding: 1rem;
  color: #fff;
  border-radius: 1.5rem;
}
.Transaction_main {
  padding: 2rem;
}
.Transaction_main_sub_main {
  display: flex;
  flex-direction: column;
}
.Transaction_main_sub_main_sub_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Transaction_main_sub_main_sub_main_sub_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Transaction_main_sub_main_main {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.Transaction_main_sub_main_sub_main_sub_main_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.Transaction_main_sub_main_sub_main_sub_main_main_sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.custompie_style {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.cardstop_card {
  box-shadow: 2;
  gap: 1rem;
  display: flex;
}
.cardstop_card_sub_main {
  display: flex;
  gap: 8rem;
  padding: 1rem 3rem;
  justify-content: space-between;
}
.cardstop_card_sub_main_main {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.salescard_main {
  box-shadow: 2;
}
.salescard_sub_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
}
.dashboard_main {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.dashboard_sub_main {
  display: flex;
  margin-top: 3rem;
  gap: 1rem;
}
.login_main {
  max-width: 77.5vw;
  height: 80vh;
  border-radius: 7rem;
  align-content: center;
  margin-top: 10rem;
  margin-left: 10rem;
}
.login_main_sub_main {
  display: flex;
  gap: 20rem;
  padding: 2rem;
}
.login_main_sub_main_sub_main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 6rem;
}
.login_main_sub_main_sub_main_sub_main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.login_textfield {
  width: 30rem;
  background-color: rgba(192, 219, 234, 1);
}
.login_submit {
  background-color: #d885a3;
  border-radius: 2rem;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  font-family: Poppins;
  margin-left: 10rem;
  padding: 1rem 2rem;
}
.login_side_img_main {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 2rem;
  padding-right: 2rem;
  margin-left: 8rem;
  background-color: rgba(192, 219, 234, 1);
}
.girl_img_main {
  width: 50rem;
  height: 48rem;
}


/* kartik-stylings starts from here */
/* dashboard-styling */
/* .circle-div {
  display: flex;
  align-items: right;
  justify-content: center;
  background-color: rgb(7, 4, 0);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: white;
} */

